###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
_site_pdf
node_modules/
templates/plugins/

# User-specific files
*.pdf
*.docx
*.zip

# Files for project/API doc builds
_exported_templates/
api/*
src/*
obj/*