{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for
full license information.}} {{!master(layout/_master.tmpl)}}
<style>
  .TocNavigationVertical {
    margin-top: 24px;
    font-family: 'Segoe UI';
  }

  .TocNavigationVertical ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    margin: 0;
    font-size: 15px;
  }

  .TocNavigationVertical li {
    margin-top: 10px;
    padding-left: 16px;
  }

  .TocNavigationVertical li:before {
    content: "";
    /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #007bb8;
  }

  .TocNavigationVertical a:link {
    text-decoration: none;
    color: #007bb8;
  }

  .TocNavigationVertical a:visited {
    text-decoration: none;
    color: black;
  }

  .TocHeader {
    display: table;
    height: 30px;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
  }

  .TocHeaderContainer {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    color: black;
    font-family: 'Segoe UI Light';
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 25px;
  }
</style>
<div class=" TocHeader">
  <div class="TocHeaderContainer">
    <h1>Contents</h1>
  </div>
</div>
<div class="TocNavigationVertical" id="toc">
  <ul class="tocBase tocLevel1">
    {{#items}}
    <li>
      {{# href }}
      <a class="normal" href="{{ href }}">{{ name }}</a> {{/ href }} {{^ href }}
      <a class="normal slidedown" style="font-size: 18px; font-weight: 600">{{ name }}</a> {{/ href }} {{# items.0 }}
      <ul class="tocLevel{{level}}">
        {{/ items.0 }} {{#items}}
        <li>
          {{# href }}
          <a class="normal" href="{{ href }}">{{ name }}</a> {{/ href }} {{^ href }}
          <a class="normal slidedown">{{ name }}</a> {{/ href }} {{# items.0 }}
          <ul class="tocLevel{{level}}">
            {{/ items.0 }} {{#items}}
            <li>
              {{# href }}
              <a class="normal" href="{{ href }}">{{ name }}</a> {{/ href }} {{^ href }}
              <a class="normal slidedown">{{ name }}</a> {{/ href }}
            </li>
            {{/items}} {{# items.0 }}
          </ul>
          {{/ items.0 }}
        </li>
        {{/items}} {{# items.0 }}
      </ul>
      {{/ items.0 }}
    </li>
    {{/items}}
  </ul>
</div>