/* In-copy links */
button, a {
  color: #00aeff;
}

/* Hover links */
button:hover, button:focus, a:hover, a:focus {
  color: #33beff;
}

/* Body */
body, p {
  line-height: 1.5;
  color: #555;
  font-weight: 400;
  font-size: 15px;
}

/* Bold */
b, optgroup, strong {
  font-weight: 600;
}

/* Headings */
article h1:first-of-type {
	border-bottom: 1px solid #E1E3E3;
	padding-bottom: 30px;
	padding-right: 200px;
	margin-top: 15px;
}

article h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 35px;
  color: black;
}

article h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  color: #333;
  margin-top: 25px;
}

article h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: #333;
  margin-top: 30px;
}

article h4 {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  font-weight: 600;
  border-bottom: none;
  margin-top: 25px;
  margin-bottom: 10px;
}

article h5 {
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
}

article h6 {
  font-size: 14px;
  line-height: 1.25em;
  font-weight: 600;
  color: #006D9A;
  margin-top: 14px;
}

article h1, h2, h3, h4, h5, h6 {
  word-break: keep-all;
}

/* When H3 follows H2 */
article h2 + h3 {
  margin-top: 20px;
}

/* When H4 follows H3 */
article h3 + h4 {
  margin-top: 20px;
}

/* When blockquote follows H1 */
article h1 + blockquote {
  margin-top: 0px;
}

/* When a blockquote follows a table */
table + blockquote {
  margin-top: 15px;
}

/* Bullets */
article > ul > li > p {
  margin-bottom: 0px;
}

article > ul > li {
  padding-left: 12px;
  display: table;
}

article > ul li ul li p {
  margin-bottom: 0px;
}

article > ul li ul li ul li p {
  margin-bottom: 0px;
}

/* Clickability fix for selector on sm devices */
@media (min-width: 768px) and (max-width: 991px) {
  article h1:first-of-type:before {
    height: 0;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  article {
    margin: 120px 0 0 0 !important;
  }
}

/* Bullets setup */
article ol, ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

/* First-level bullets margin */
article ul > li:before {
  content: "\2022  ";
  display: table-cell;
  padding-right: 10px;
}

.alert ul > li:before {
  content: "\2022 ";
  display: inline;
}

article ul > li:last-child {
  padding-bottom: 10px;
}

/* Exclude these overrides from tab group headers */
article .tabGroup > ul > li:before {
  content: "";
}
article .tabGroup > ul > li:last-child {
  padding-bottom: 0;
}

/* Second-level bullets */
article ul li ul li {
  display: table;
}
article ul li ul li:before {
  content: "\2013  ";
  display: table-cell;
  padding-right: 15px;
}

article ul li ul li:first-child {
  padding-top: 7px;
}

article ul li ul li:last-child {
  padding-bottom: 6px;
}

/* Third-level bullets */
article ul li ul li ul li:before {
  content: "\002D ";
  display: table-cell;
  padding-right: 10px;
}

/* Bullets inside tables */
/*First level */
table > tbody > tr > td > ul > li {
  padding-right: 7px;
  display: table;
}

/* Second level */
table > tbody > tr > td > ul > li > ul > li {
  content: "\002D ";
  display: table;
  padding-right: 15px;
}

/* Blockquote */
blockquote {
  border-left: 5px solid #F0F3F6;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Code */
code {
  color: #a94c9d;
  background-color: #f1f1f1;
  border-color: #F0F3F6;
  border-radius: 3px;
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 3px;
  padding-left: 7px;
  line-height: 1.4;
}

pre {
  border: 1px solid #a1a1a1;
  padding: 20px;
  margin: 16px auto;
  border-radius: 5px;
  display: block;
  background-color: #f1f1f1;
  font-weight: 400;
}

.fa-code {
  font-size: 19px;
}

/* Images */
.article img {
  max-width: 100%;
  border: solid;
  border-width: thin;
  border-color: #D7DDE4;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Tables */
.table {
  margin-bottom: 20px;
  font-size: 14px;
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
  border-bottom: 1px solid #D7DDE4;
  font-size: 14px;
}

th {
  font-weight: 600;
  color: #006d9a;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-bottom: 1px solid #D7DDE4;
  padding-top: 15px;
  font-size: 14px;
}

td:nth-of-type(1) {
  font-weight: 600;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: white;
}

/* Callouts */
.alert {
  color: #333;
  background-color: white;
  border-top: #d7dde4 solid 1px;
  border-right: #d7dde4 solid 1px;
  border-bottom: #d7dde4 solid 1px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
}

.alert h5 {
  font-size: 18px;
  text-transform: none;
  padding-bottom: 5px;
}

.alert h5:before {
  position:relative;
  top:1px;
  display:inline-block;
  font-family:'FontAwesome';
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin-right: 8px;
  font-weight: normal;
}

.alert-info h5 {
  color: #6e53a3;
}

.alert-info h5:before {
  content:"\f05a";
}

.alert-info {
  border-left: #6e53a3 solid 8px;
}

.alert-warning h5 {
  color: #f8961d;
}

.alert-warning h5:before {
  content:"\f071";
}

.alert-warning {
  border-left: #f8961d solid 8px;
}

.alert-danger h5 {
  color: #00aeff;
}

.alert-danger h5:before {
  content:"\f06a";
}

.alert-danger {
  border-left: #00aeff solid 8px;
}

.label-info {
  background-color: #00aeff;
  line-height: 2.25;
}

/* Left-side color on landing page boxes (which are .alert only) */
#install-box, #user-box, #developer-box, #admin-box {
  margin-top: 25px;
}

#install-box, #user-box {
  border-left: #00abf9 solid 8px;
}

#developer-box
{
  border-left: #f8961d solid 8px;
}

#admin-box
{
  border-left: #00a859 solid 8px;
}

/* TOC */
.toc .level1 > li {
	color: #6D6E70;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 5px;
 }

.toc .level2 > li {
  text-transform: none !important;
}

 .toc .nav > li > a {
   color: #6D6E70;
   padding-top: 10px;
   line-height: 1.2;
 }

.toc .nav > li.active > a {
  color: #00aeff;
  border-bottom-width: 4px;
 }

.toc .nav > li > a:hover, .toc .nav > li > a:focus {
  color: #00aeff;
}

.toc .nav > li.active > a:hover, .toc .nav > li.active > a:focus {
  color: #00aeff;
}

/* little plus or minus in TOC */
.expand-stub {
  margin-top: 6px;
}

.toc .nav > li > .expand-stub {
  margin-top: 7px;
}

 /* 2nd and 3rd level expandable menu items in left-side menu - make same font size as 1st level */
.toc .level2, .toc .level3 {
  font-size: 14px;
}

.toc .level3 {
  padding-left: 5px;
  margin-top: 0px;
}

.toc .level4, .toc .level5, .toc .level6 {
  font-size: 12px;
  padding-left: 5px;
}

.toc ul {
  margin-top: 0px;
}

body .toc {
  overflow-x: unset;
}

/* TOC filter */
.toc-filter {
  border-radius: 0px;
  margin: 25px 0;
	color: #888888;
	border: 1px solid #D7D7D7;
}

.toc-filter > input {
  font-size: 14px;
	color: #888888;
	padding: 0 30px 0 5px;
}

.toc-filter > .filter-icon {
	right: 10px;
	left: auto;
	color: #A1A1A1;
}
/* Reduce horizontal width of center column */
.col-md-10 {
  width: 75%;
}

/* Move right pane to the left a little */
.col-md-2 {
  padding-left: 0px;
}

/* Move right pane to the left so it is not squished on the right */
.nav > li > a {
  margin-left: 0px;
}

/* Side affix */
.sideaffix {
  position: absolute;
	top: 0;
	right: 25px;
	margin-top: 0;
	overflow: visible;
}

.sideaffix-buffer {
	position: relative;
	width: 100%;
	padding: 0 15px;
}

/* Contribution link */
.sideaffix > div.contribution > ul > li > a.contribution-link {
  padding: 3px 0;
	font-weight: normal;
	font-size: 13px;
}

/* Side nav */
.sidenav,
.toc-toggle {
  padding: 0;
}

.article.grid-right {
	width: 100%;
	max-width: 935px;
}

@media (max-width: 768px) {
  .sidenav {
		position: fixed;
		top: 104px;
		width: 100%;
		z-index: 1;
		margin-left: -2.5%;
		border-bottom: 1px solid #E1E3E3;
		overflow: auto;
		max-height: calc(100% - 104px);
	}
	
	.sidetoc, body .toc, .sidefilter, .sidetoggle {
		background-color: #f1f1f1 !important;
	}

	.toc-filter {
		margin: 0;
	}

	article h1:first-of-type {
		padding-right: 0;
	}

	.article.grid-right {
		margin: 0;
	}

	.breadcrumb {
    white-space: nowrap !important;
	}
	
	.toc li:after {
		content: "";
		margin: 0 !important;
	}

	.toc .nav > li, .toc .nav > li >a {
    display: block !important;
  }
}

/* Side TOC */
.sidetoc {
	top: 180px;
	border-right: 1px solid #E1E3E3 !important;
}

.sidetoc, body .toc, .sidefilter, .sidetoggle {
	background-color: white;
}

.sidetoc, .sidefilter {
  border-left: none;
  border-right: none;
 }

.sidetoggle {
  padding-bottom: 15px;
}

.sidefilter {
	border-right: 1px solid #E1E3E3 !important;
}

/* Affix */
/* Bootstrap docs like sidebar
   ------------------------------------------------------- */
   .affix h5 {
    display: none;
}

/* Active & hover links */
.affix ul > li > a:hover,
.affix ul > li.active > a,
.affix ul > li > a:focus {
  color: #00aeff;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #00aeff;
}

/* All active links */
.affix ul > li.active > a,
.affix ul > li.active:hover > a,
.affix ul > li.active:focus >a {
  font-weight: 600;
}

/* Nested active links */
.affix ul ul > li.active > a,
.affix ul ul > li.active:hover > a,
.affix ul ul > li.active:focus > a {
  font-weight: 500;
}

/* All links */
.affix ul > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 13px;
  font-weight: 400;
}

/* Nested links */
.affix ul ul > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* Hide inactive nested list */
.affix ul ul {
  display: none;
}

/* Show active nested list */
.affix ul > li.active > ul {
  display: block;
}

.affix > ul > li > a:before {
  content: '';
}

.affix ul ul > li > a:before {
  content: '';
}

/* Unhide bottom portion of right-column menu */
.affix > ul.level1 {
  overflow: visible;
}

/* Search form */
.form-control {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
}

.form-control:focus {
  border-color: #006d9a;
}

.form-control, output {
  color: #6D6E70;
}

#search {
  border: none;
}

/* Search results */
.sr-item > .item-href {
  color: #a1a1a1;
}

.pagination > .active > a {
  background-color: #00AEFF;
  border-color: #00AEFF;
}

.pagination > li > a {
  color: #00aeff;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #6D6E70;
  border-color: #D7DDE4;
}

/* Footer */
.footer {
  background-color: #f0f3f6;
  border-top: none;
  font-size: 14px;
}

/* Help button nav bar icon */
#help {
  font-size: 18px;
  padding-left: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 12px;
  border-radius: 0px;
  background-color: #384655;
  color: white;
}

/* Custom to custom template from Github */
/* Remove center align from Navbar and Collapsible section */
.collapse.in,
.collapsing {
  text-align: unset;
}

@media (min-width: 768px) {
  .sidetoc, .sidefilter {
    margin-left: -15px;
    border-right: none;
    border-left: none;
  }
}

/*Home page */
#home-page-subhead {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 10px;
}

/*Home page column headers */
#home-page-col-head, #home-page-col-head-dev {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  margin-top: 25px;
}
#home-page-col-head {
  color: #00abf9;
}

#home-page-col-head-dev {
  color: #f8961d;
}

/* Home page boxes */
.row#home-page {
  margin-right: -30px;
  margin-left: -30px;
}

/* -------------------------------------------------------------- */
/* New Docs Template */

.docs-navbar {
	width: 100%;
	height: 64px;
	display: flex;
	align-items: center;
	background-color: #00aeff;
	position: fixed;
	z-index: 100;
}

.docs-logo {
  display: flex;
  align-items: center;
}

.docs-navbar-right {
	margin-left: auto;
	margin-right: -20px;
	display: flex;
}

.docs-navbar-left {
	margin-left: 60px;
	display: flex;
}

.docs-navbar-link {
	height: 100%;
	padding: 0 20px;
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
}

.navbar-nav li {
	font-size: 16px;
	font-weight: 300;
}

.docs-navbar-link:hover {
  color: white;
}

.navbar-nav li > a {
  color: white;
  padding: 21px;
}

.navbar-nav li > a:hover,
.navbar-nav li > a:focus {
  background-color: #00aeff;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #049ae0;
}

.navbar-nav .caret {
  width: 7px;
  height: 20px;
  margin-left: 5px;
  border: 0 !important;
}

.navbar-nav .caret::after {
  font-family: "FontAwesome";
  content: "\f107";
  font-size: 14px;
  display: flex;
}

.dropdown-menu {
  background-color: #f1f1f1;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li > a {
  color: #333333;
  font-weight: 300;
  padding: 12px 24px;
  width: 100%;
}

.dropdown-menu li > a:hover {
  background-color: #ddd !important;
  color: #333 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
  color: #333;
  background-color: #f1f1f1;
}

.docs-navbar-divider {
	background-color: white;
	width: 1px;
	margin: 20px 0;
	display: block;
}

.docs-navbar-chevron {
	margin-left: 8px;
}

.docs-navbar-logo {
	margin-top: 2px;
}

.docs-container {
	font-family: 'Open Sans', sans-serif;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
}

.docs-container-wrap {
	flex-wrap: wrap;
}

.docs-subnav {
	display: flex;
	width: 100%;
	height: 40px;
	background-color: #F6F7F8;
	border-bottom: 1px solid #E1E3E3;
	align-items: center;
	position: fixed;
	top: 64px;
	z-index: 99;
}

.docs-subnav-left {
	display: flex;
	align-items: center;
	overflow: hidden;
	width: inherit;
		-webkit-transition: width .3s ease-in-out;
  		-moz-transition: width .3s ease-in-out;
  		-o-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

.docs-subnav-breadcrumb {
	color: #767676;
	font-size: 13px;
	text-decoration: none;
	min-width: 30px;
}

.docs-subnav-breadcrumb:hover {
	color: #00aeff;
}

.docs-subnav-breadcrumb-divider {
	color: #A8B0BA;
	font-size: 10px;
	margin: 0 15px;
}

.docs-subnav-breadcrumb-current {
	color: #767676;
	font-size: 13px;
	min-width: 30px;
}

.docs-subnav-breadcrumb-home {
  font-size: 20px;
  color: #00aeff;
  padding-bottom: 2px;
}

.docs-subnav-breadcrumb-current > ul > li + li::before {
  font-family: "FontAwesome";
  content: "\f054";
  padding: 0 15px;
  color: #A8B0BA;
  font-size: 10px;
}

.docs-subnav-select-container {
	position: relative;
}

.docs-subnav-select {
	font: inherit;
	font-size: 13px;
	display: flex;
	align-items: center;
	background-color: white;
	height: 30px;
  width: 100%;
  max-width: 180px;
	color: #333;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #E5E5E5;
	padding: 0 30px 0 10px;
	cursor: pointer;
}

.docs-subnav-select::-ms-expand {
    display: none;
}

.docs-subnav-select-caret {
	position: absolute;
	top: 0;
	right: 0;
	color: #006E9A;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.docs-subnav-right {
	margin-left: auto;
	display: flex;
	align-items: center;
	width: 230px;
	padding-left: 20px;
}

.docs-subnav-search-icon {
	color: #888888;
	padding-bottom: 1px;
}

.docs-subnav-search-close {
	color: #333;
	padding: 0 20px;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.docs-content {
	height: 100%;
	position: relative;
	top: 104px;
}

.docs-toc-container {
	min-width: 225px;
	height: calc(100vh - 130px);
	border-right: 1px solid #E1E3E3;
	padding-top: 25px;
	padding-right: 20px;
	overflow: auto;
	position: fixed;
}

.docs-toc-app {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.docs-toc-app h1 {
	color: #6D6E70;
	font-size: 24px; 
	font-weight: 600;
	margin: 0;
}

.docs-product-logo {
	width: 40px;
	height: 40px;
	margin-right: 12px;
}

#search-query {
	color: #888888;
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	display: block;
	padding-left:10px;
	height: 39px;
	font-size: 14px;
	border: none;
	background-color: transparent;
	padding-top: 2px;
}

.docs-toc-filter {
	position: relative; 
	margin-bottom: 30px;
}

#docs-toc-input {
	color: #888888;
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	display: block;
	height: 28px;
	font-size: 14px;
	width: 185px;
	border: 1px solid #D7D7D7;
	padding: 0 30px 0 10px;
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.toc-subpages {
	display: none;
}

.toc-subpages li {
	margin-left: 20px;
}

.toc-subpages li a {
	width: 179px;
}

a.anchor {
    display: block;
    position: relative;
    top: -170px;
    visibility: hidden;
}

@media only screen and (max-width: 1100px) {
	.docs-navbar-left {
		margin-left: 3%;
	}
}

@media only screen and (max-width: 1024px) {
	.docs-navbar-left,
	.docs-right {
		display: none;
	}
	
	.docs-navbar-right {
		margin-right: -20px;
	}
}

@media only screen and (max-width: 700px) {
	.docs-navbar-right,
	.docs-subnav-right {
		display: none;
	}
}

#tipue_search_input {
  width: 125px;
  height: 40px;
  border-bottom: 1px solid #E1E3E3;
  background-color: #f6f7f8;
}

.tipue_search_button {
  position: absolute;
  height: 40px;
  background-color: #f6f7f8;
}

